__pycache__/
*.pyc
*.egg-info/
dist/
build/
.env
.venv/
*.ipynb_checkpoints/
mlruns/
outputs/
.hydra/
*.log
.dvc/cache/

# macOS
.DS_Store
**/.DS_Store

# Dev local (non versionné)
constraints-dev-local.txt
# Coverage
.coverage
coverage.xml
htmlcov/
